{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/UI/(.*)$",
    "^@/components/(.*)$",
    "^@/data/(.*)$",
    "^@/service/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/config/(.*)$",
    "^@/api/(.*)$",
    "^@/types/(.*)$",
    "^@/assets/(.*)$",
    "^@ui/(.*)$",
    "^@pages/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
